<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>




    <welcome-file-list>
        <welcome-file>home-electronics.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>


  <display-name>Archetype Created Web Application</display-name>
</web-app>

